name: validateRequest
run-name: ${{ github.actor }} created a PR
on: [pull_request_target]

jobs:
  validateUsername:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}  
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v35

      - name: Only allow one change
        if: contains(steps.changed-files.outputs.all_changed_and_modified_files, ' ')
        run: exit 1

      - name: File is in providers folder
        if: ${{ !startsWith(steps.changed-files.outputs.all_changed_and_modified_files, 'providers/') }}
        run: exit 1

      - name: File has .json extension
        if: ${{ !endsWith(steps.changed-files.outputs.all_changed_and_modified_files, '.json') }}
        run: exit 1

      - name: Validate changed file & user
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - run: yarn
      - if: contains(steps.changed-files.outputs.deleted_files, ' ')
        run: yarn validate_file_deletion -u ${{ github.actor }} -f ${{ steps.changed-files.outputs.deleted_files }}
      - if: ${{ !contains(steps.changed-files.outputs.deleted_files, ' ') }}
        run: yarn validate_provider ${{ steps.changed-files.outputs.all_changed_and_modified_files }}
        run: yarn validate_file_addresses -u ${{ github.actor }} -f ${{ steps.changed-files.outputs.all_changed_and_modified_files }}