name: validateRequest
run-name: ${{ github.actor }} created a PR
on: [pull_request]

jobs:
  validateUsername:
    runs-on: ubuntu-latest
    steps:
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v35

      - name: Only allow one change
        if: contains(steps.changed-files.outputs.all_changed_and_modified_files, ' ')
        run: exit 1

      - name: Validate changed file & user
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - run: yarn
      - run: yarn validate_provider ${{ steps.changed-files.outputs.all_changed_and_modified_files }}
      - run: yarn validate_file_addresses -u ${{ github.actor }} -f ${{ steps.changed-files.outputs.all_changed_and_modified_files }}